$primary: #559AC8;
$secondary: #4A4A4A ;
$title-color1: #8A82CC;
$title-color2: #FFA782 ;
$title-color3: #F5D005 ;
$title-color4: #FFD366 ;


*{
  position: relative;
  font-family: 微軟正黑體;
  box-sizing: border-box;
  outline: none;
}

html,body{
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.h1{
  font-size: 40px
}
.h2{
  font-size: 36px
}
.h3{
  font-size: 24px
}
.h4{
  font-size: 20px
}
.h5{
  font-size: 18px;
}
.h6{
  font-size: 16px;
}
.h7{
  font-size: 14px;
}

.clearfix{
  clear: both;
}

input {
  -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
  -moz-appearance: none;     /* FireFox */
  appearance: none;
}


.banner {
  background-image: url('../images/the-urban-landscape-1698285.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  text-align: center;
}
.banner-frame{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.banner-title{
  color: white;
  letter-spacing: 3.89px;
  @extend .h1;
  padding-bottom: 96px;
}

.banner-select{
  display: inline-block;
  padding-left: 10px;
  padding-right: 15px;
  width: 450px;
  height: 48px;
  border: solid 3px white;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.7);
  select{
    @extend .h5;
    display: inline-block;
    border: none;
    outline: none;
    padding-right: 15px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: transparent;
    appearance: none;;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url('../images/icons_down.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: scroll;
    ::-ms-expand{
      display: none;
    }
    option{
      background-color: #eee;
    }
  }
}

@media (max-width: 991.98px){
  .banner-select{
    width: 100%;
  }
}
@media (max-width: 576px){
  .banner-select select{
    font-size: 16px;
  }
}

.info-frame{
  margin-left: 40px;
  margin-right: 40px;
}

.populer-area{
  margin-left: auto;
  margin-right: auto;
  top:-28px;
  padding: 20px 25px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  .populer-title{
    margin-bottom: 14px;
    @extend .h5;
  }
}
.button-area{
  width: 130px;
  height: 42px;
  margin-left: 23px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  @extend .h4;
}
.area1{
  background-color: $title-color1;
}
.area2{
  background-color: $title-color2;
}
.area3{
  background-color: $title-color3;
}
.area4{
  background-color: $primary;
}



.hr-dashed{
  max-width: 900px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  height: 1px;
  border: none;
  background: -webkit-linear-gradient(to right, transparent 60%, $primary 40%);
  background: -moz-linear-gradient(to right, transparent 60%, $primary 40%);
  background: -o-linear-gradient(to right, transparent 60%, $primary 40%);
  background: linear-gradient(to right, transparent 60%, $primary 40%);
  background-size: 15px, 100%;
}
.hr-icon{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  background-image: url('../images/icons_down_hr.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f7f7f7;
  border: $primary solid 2px;
  border-radius: 50%;
}

.area-list{
  margin-top: 30px;
}
.area-title{
  @extend .h2;
  text-align: center;
  color: $title-color1;
  padding-top: 35px;
}


.data-list{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  @extend .h4
}
.datd-frame{
  width: 464px;
  // height: 273px;
  margin: 18px 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  background-color: #fff;
}
.data-top{
  height: 155px;
  background-image: url("http://khh.travel/FileArtPic.ashx?id=705&w=1280&h=960");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  padding: 10px 20px;
}
.data-name{
  @extend .h3;
}
.data-zone{
  @extend .h6;
}
.data-bottom{
  @extend .h6;
  padding: 0 20px;
  padding-bottom: 10px;
  list-style-type: none;
  .data-opentime,.data-add,.data-tel,.data-ticketinof{
    padding-top: 15px;
    list-style-position: inside;
    vertical-align: middle
  }
  .data-tel,.data-ticketinof{
    display: inline-block;
  }
  .data-opentime{
    &:before{
      content: url('../images/icons_clock.png');
      margin-right: 9px;
      vertical-align: middle
    }
  }
  .data-add{
    &:before{
      content: url('../images/icons_pin.png');
      margin-right: 9px;
      padding: 0 1px;
      vertical-align: middle
    }
  }
  .data-tel{
    &:before{
      content: url('../images/icons_phone.png');
      margin-right: 9px;
      padding: 0 2px;
      vertical-align: middle
    }
  }
  .data-ticketinof{
    position: absolute;
    right: 20px;
    width: 98px;
    &:before{
      content: url('../images/icons_tag.png');
      margin-right: 9px;
      vertical-align: middle
    }
  }
}
.page-navigation{
  text-align: center;
  font-weight: 800;
  padding: 41px 0;
  @extend .h7;
  ul {
    padding: 0;
    margin: 0;
  }
  li{
    display: inline;
    list-style-type: none;
    margin: 0 8px;
    cursor: pointer;
    a{
      color: $secondary;
      text-decoration: none;
      &:hover{
        color: $primary;
      }
    }
  }
  .page-link{
    margin: 0 14px;
    color: $secondary
    a{
      color: $primary;
    }
  }
  .page-item{
    margin: 0 8px;
    a{
      margin: 5px 8px;
    }
  }
  .page-disabled{
    color:  rgba($secondary,0.5);
    cursor: initial;
    a{
      pointer-events: none;
      color:  rgba($secondary,0.5);
    }
  }
  .page-active{
    color: $primary;
    a{
      color: $primary;
    }
  }
}

.top{
  position: fixed;
  bottom: 195px;
  right: 10%;
  cursor: pointer;
}

@media (max-width: 991.98px){
  .populer-title{
    text-align: center;
  }
  .button-warp{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .button-area{
    margin-left: 0;
    margin: 5px 10px;
  }
}
@media (max-width: 576px){
  .info-frame{
    margin-left: 5%;
    margin-right: 5%;
  }
  .data-top{
    flex-direction: column;
    align-items:initial;
    justify-content: flex-end;
  }
  .data-bottom{
    .data-ticketinof{
      position: relative;
      right: 0;
      width: initial
    }
    .data-tel,.data-ticketinof{
      display: block;
    }
  }
}

footer{
  @extend .h7;
  height: 90px;
  text-align: center;
  padding: 24px 0;
  background-color: $primary;
}
.footer-title{
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-small{
  color: $title-color4;
}

.disappear{
  display: none;
}
